/* Main container for about content */
.about{
    transition: 
        color var(--transition-medium),
        background-color var(--transition-medium);

    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 120px 250px 0 250px;
}

/* Title */
.about h1 {
    margin-top: 0;
}

/* Description */
.about .description{
    font-size: 1.25rem;
    line-height: 1.5;
}

/* Skills heading */
.about h3{
    font-family: "Saria";
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}

/* Skills grid */
.skills-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    color: white;
    max-width: 80%;
    margin: auto;
}

/* Individual skills */
.skill{
    transition: var(--transition-fast);
    background-color: gray;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    height: 30px;
    text-align: left;
    margin-bottom: 0;
}
.skill:hover{
    background-color: rgb(183, 183, 183);
}

/* ----- MEDIA QUERIES ----- */
/* For tablet-sized screens */
@media (max-width: 1200px) {
    .about { padding: 120px 100px 0 100px; }
}

/* For smaller tablets */
@media (max-width: 800px) {
    .skills-grid{ grid-template-columns: repeat(3, 1fr); }
}

/* For smaller screens */
@media (max-width: 600px) {
    .about { padding: 120px 50px 0 50px; }
    .about .description { font-size: 1rem; }
    .skills-grid{ grid-template-columns: repeat(2, 1fr); }
}

/* For mobile phones */
@media (max-width: 460px) {
    .about h1 { margin-top: -50px; }
    .about h3{ font-size: 1.5rem;}
    .skill { 
        padding: 5px; 
        font-size: 0.75rem; 
        justify-content: center; 
    }
}
