/* Main container for about content */
.about{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 120px 250px 0 250px;
    box-shadow: 0 -5px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 
        color 0.2s ease-in,
        background-color 0.2s ease-in;
}

/* Dark mode styles for about container */
.about.dark {
    color: white;
    background-color: #0f172a;
}

/* Title */
.about h1 {
    margin-top: 0;
}

/* Description */
.about .description{
    font-size: 1.25rem;
    line-height: 1.5;
}

/* Skills heading */
.about h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}

/* Skills grid */
.skills-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    color: white;
    max-width: 80%;
    margin: auto;
}

/* Individual skills */
.skill{
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    text-align: left;
    margin-bottom: 0;
    background-color: gray;
    transition: background-color 0.2s ease-in;
}
.skill:hover{
    background-color: rgb(183, 183, 183);
}