/* Main container for Contact content */
.contact{
    transition: 
        color var(--transition-medium),
        background-color var(--transition-medium);
    text-align: center;
    margin: auto;
    padding: 30px 250px 100px 250px;
}

/* Dark mode styles for Contact container */
.contact.dark {
    background-color: var(--clr-bg-darker);
}

/* Short paragraph */
.contact p{
    font-size: 1.25rem;
    line-height: 1.5;
}

/* Contact details container */
.contact-details{
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* Individual contact details */
.contact-details p{
    font-weight: bold;
}
.contact-details p span, .contact-details p a{
    color: var(--clr-accent-green);
}
.contact-details p a:hover{
    color: var(--clr-accent-green-light);
}

/* Github button */
.contact .github {
    border-radius: var(--radius-lg);
    transition: transform var(--transition-fast);
    background: rgb(46, 48, 75);
    color: white;
    padding: 0 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    margin-top: 25px;
}
.contact .github:hover{
    background: var(--grad-green-cyan);
    transform: scale(1.02);
}

/* Github button image */
.contact .github img{
    width: 40px;
}

/* ----- MEDIA QUERIES ----- */
/* For tablets */
@media (max-width: 1300px) {
    .contact{ padding: 30px 120px 100px 120px; }

    .contact-details {
        flex-direction: column;
        gap: 0;
    }
}

/* For landscape */
@media (max-width: 620px) {
    .contact{ padding: 30px 60px 100px 60px; }
}

/* For mobile phones */
@media (max-width: 460px) {
    .contact{ padding: 30px 30px 100px 30px; }
    .contact p { font-size: 1rem; }
    .contact-details p span { display: block; }
}