/* Main container for Contact content */
.contact{
    text-align: center;
    margin: auto;
    padding: 30px 250px 100px 250px;
    transition: 
        color 0.2s ease-in,
        background-color 0.2s ease-in;
}

/* Dark mode styles for Contact container */
.contact.dark {
    color: white;
    background-color: #0f172a;
}

/* Short paragraph */
.contact p{
    font-size: 1.25rem;
    line-height: 1.5;
}

/* Contact details container */
.contact-details{
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* Individual contact details */
.contact-details p{
    font-weight: bold;
}
.contact-details p span, .contact-details p a{
    color: rgb(17, 171, 17);
}
.contact-details p a:hover{
    color: rgb(16, 218, 16);
}

/* Github button */
.contact .github {
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 12px;
    background: rgb(46, 48, 75);
    padding: 0 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    margin-top: 25px;
    transition: transform 0.2s ease;
}

/* For gradiant background fade-in effect */
.contact .github::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,  #0bd6e1, #6cd76c);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 0;
    border-radius: 12px;
}
.contact .github:hover::before {
    opacity: 1;
}

/* Show children above button container */
.contact .github > * {
    z-index: 1;
}

/* Github button image */
.contact .github img{
    width: 40px;
}

/* ----- MEDIA QUERIES ----- */
/* For tablets */
@media (max-width: 1300px) {
    .contact{ padding: 30px 120px 100px 120px; }

    .contact-details {
        flex-direction: column;
        gap: 0;
    }
}

/* For landscape */
@media (max-width: 620px) {
    .contact{ padding: 30px 60px 100px 60px; }
}

/* For mobile phones */
@media (max-width: 460px) {
    .contact{ padding: 30px 30px 100px 30px; }
    .contact p { font-size: 1rem; }
    .contact-details p span { display: block; }
}