/* Footer container */
.footer{
    transition: var(--transition-medium);
    box-shadow: var(--shadow-top);
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #242736;
}

/* Dark styles */
.footer.dark{
    background-color: var(--clr-bg-darkest);
}