/* Footer container */
.footer{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #242736;
    box-shadow: 0 -5px 6px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease-in;
}

/* Dark styles */
.footer.dark{
    background-color: rgb(4, 5, 24);
}