@import url('./vars.css');
@import url('./fonts.css');

/* Container for entire page's content */
.content{
    color: var(--clr-text);
    background-color: var(--clr-bg);
    transition: 
        color var(--transition-medium),
        background-color var(--transition-medium);
    font-family: "OpenSans";
}

/* Dark mode content vars */
.content.dark{
    color: var(--clr-text-dark);
    background-color: var(--clr-bg-darker);
}

/* ----- TITLE STYLES ----- */
.title{
    font-family: "Saria";
    font-size: 3rem;
    text-align: center;
    margin-top: 80px;
}

.title::before{
    color: var(--clr-accent-green);
    content: "< ";
}

.title::after{
    color: var(--clr-accent-cyan);
    content: " />";
}

.title-underline {
    background: var(--grad-green-cyan);
    width: 5rem;
    height: 4px;
    margin: auto;
    margin-top: -25px;
    border-radius: 2px;
}

/* ----- MEDIA QUERIES ----- */
/* For mobile phones */
@media (max-width: 460px) {
    .title { font-size: 2rem; }
    .title-underline { margin-top: -16px; }
}