/* Main header content container */
.header {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  box-shadow: var(--shadow-bottom);
  transition: 
    color var(--transition-medium),
    background-color var(--transition-medium);

  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  z-index: 1000;
  box-sizing: border-box;
}

/* Dark mode styles for header container */
.header.dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-dark);
}

/* Nav links container */
.header .nav {
  display: flex;
  gap: 2rem;
}

/* Individual nav links */
.header .nav p {
  transition: var(--transition-fast);
  position: relative;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
.header .nav p:hover {
  color: var(--clr-accent-green);
}

/* ::after pseudo-element for underline effect */
.header .nav p::after {
  background: var(--grad-green-cyan);
  transition: width var(--transition-slow);
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0%; 
  border-radius: 2px;
}

/* On hover, expand the underline */
.header .nav p:hover::after {
  width: 100%;
}

/* Dark mode toggle image */
.header img {
  transition: background-color var(--transition-fast);
  cursor: pointer;
  user-select: none;
  width: 40px;
  padding: 0.3rem;
  border-radius: 100%;
}
.header img:hover{
    background-color: rgba(152, 152, 152, 0.5);
}

/* ----- MEDIA QUERIES ----- */
/* For mobile phones and small tablets */
@media (max-width: 500px) {
  .header { 
    flex-direction: column;
    padding-top: 50px;
  }
  .header img{
    position: fixed;
    top: 0%;
    width: 30px;
  }
}

/* For very small mobile phones */
@media (max-width: 370px) {
  .header .nav{ gap: 1.5rem; }
  .header .nav p{ font-size: 100%; }
}