/* Main header content container */
.header {
  position: absolute; 
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  z-index: 1000;
  box-sizing: border-box;
  color: black;
  background-color: white;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
  transition: 
    color 0.2s ease-in,
    background-color 0.2s ease-in;
}

/* Dark mode styles for header container */
.header.dark {
    color: white;
    background-color: #0f172a;
}

/* Nav links container */
.header .nav {
  display: flex;
  gap: 2rem;
}

/* Individual nav links */
.header .nav p {
  position: relative;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  transition: color 0.2s ease-in;
}
.header .nav p:hover {
  color: #17b417;
}

/* ::after pseudo-element for underline effect */
.header .nav p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0%; 
  background: linear-gradient(to right, #10b910, #00ffff);
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

/* On hover, expand the underline */
.header .nav p:hover::after {
  width: 100%;
}

/* Dark mode toggle image */
.header img {
  cursor: pointer;
  user-select: none;
  width: 40px;
  padding: 0.3rem;
  border-radius: 100%;
  transition: background-color 0.3s ease-in;
}
.header img:hover{
    background-color: rgba(152, 152, 152, 0.5);
}
