/* Main container for Home content */
.home{
    transition: background-color var(--transition-medium);
    background-color: rgb(194, 242, 228);
    text-align: center;
    padding: 150px 0 100px;
    border-radius: 10% 10% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: var(--shadow-bottom);
}

/* Dark theme styles */
.home.dark{
    background-color: var(--clr-bg-darkest);
}

/* Home heading */
.home h1{
   font-family: "Saria";
   font-size: 4rem;
   margin-bottom: 0;
   margin-right: 50px;
}

/* Blinking ">" cursor next to the heading */
.home h1::before {
    color: var(--clr-accent-cyan);
    content: ">";
    display: inline-block;
    margin-right: 20px;
    animation: blink 1.5s step-start infinite;
}

/* Blink animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Home typing sub-heading */
.home .typing{
    font-family: "Saria";
    color: var(--clr-accent-cyan);
    font-size: 2rem;
}
/* Typing "cursor" effect */
.typing::after {
    color: var(--clr-accent-cyan);
    content: "|";
    margin-left: 5px;
    animation: blink 1s step-start infinite;
}

/* Home tagline */
.home p{
    font-size: 1.5rem;
    padding: 0 20px 0 20px;
    font-style: italic;
}

/* Projects button */
.home button{
    background: var(--grad-green-cyan);
    transition: transform var(--transition-fast);
    border-radius: var(--radius-xl);
    cursor: pointer;
    color: white;
    font-weight: bolder;
    border: none;
    padding: 20px;
    margin-top: 20px;
    will-change: transform;
    box-shadow: var(--shadow-item);
}
.home button:hover{
    background: var(--grad-green-cyan-light);
    transform: scale(1.02);
}

/* ----- MEDIA QUERIES ----- */
/* For tablets/landscape */
@media (max-width: 710px) {
    .home { padding: 100px 0 50px; }
    .home h1{ font-size: 3.5rem; }
    .home .typing{ font-size: 1.75rem; }
    .home p{ font-size: 1.25rem; }
}

/* For mobile phones */
@media (max-width: 490px) {
    .home h1{ font-size: 2rem; }
    .home .typing{font-size: 1.25rem; }
    .home p{ font-size: 1rem; }
}