/* Main container for Home content */
.home{
    text-align: center;
    padding: 150px 0 100px;
    color: black;
    background-color: rgb(209, 248, 235);
    transition: 
        color 0.2s ease-in,
        background-color 0.2s ease-in;
}

/* Dark theme styles */
.home.dark{
    color: white;
    background-color: rgb(4, 5, 24);
}

/* Home heading */
.home h1{
   font-size: 4rem;
   margin-bottom: 0;
   margin-right: 50px;
}

/* Blinking ">" cursor next to the heading */
.home h1::before {
    content: ">";
    color: rgb(0, 176, 176);
    display: inline-block;
    margin-right: 20px;
    animation: blink 1.5s step-start infinite;
}

/* Blink animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Home typing sub-heading */
.home .typing{
    font-size: 2rem;
    color: rgb(0, 176, 176);
}
/* Typing "cursor" effect */
.typing::after {
    content: "|";
    margin-left: 5px;
    color: rgb(0, 176, 176);
    animation: blink 1s step-start infinite;
}

/* Home tagline */
.home p{
    font-size: 1.5rem;
    padding: 0 20px 0 20px;
}

/* Projects button */
.home button{
    cursor: pointer;
    color: white;
    font-weight: bolder;
    background: linear-gradient(to right,  #0bd6e1, #6cd76c);
    border-radius: 24px;
    border: none;
    padding: 20px;
    margin-top: 20px;
    will-change: transform;
    box-shadow: 0 0 0 0 rgb(0, 160, 43);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.home button:hover{
    box-shadow: 0 0 2.5px 2.5px rgb(0, 160, 43);
    transform: scale(1.03);
}

/* ----- MEDIA QUERIES ----- */
/* For tablets/landscape */
@media (max-width: 710px) {
    .home { padding: 100px 0 50px; }
    .home h1{ font-size: 3.5rem; }
    .home .typing{ font-size: 1.75rem; }
    .home p{ font-size: 1.25rem; }
}

/* For mobile phones */
@media (max-width: 490px) {
    .home h1{ font-size: 2rem; }
    .home .typing{font-size: 1.25rem; }
    .home p{ font-size: 1rem; }
}