/* Main container for projects */
.projects{
    margin: auto;
    margin-top: 0;
    padding: 30px 250px 0 250px;
    transition: 
        color 0.2s ease-in,
        background-color 0.2s ease-in;
}

/* Dark styles for projects container */
.projects.dark{
    color: white;
    background-color: #0f172a;
}

/* Projects grid styles */
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 30px;
    margin-top: 40px;
}

/* Individual projects */
.project-item{
    cursor: pointer;
    height: 520px;
    border: solid black 1px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    will-change: transform;
    transition: 
        color 0.2s ease-in,
        box-shadow 0.2s ease-in,
        background-color 0.2s ease-in,
        transform 0.2s ease-in;
}
.project-item:hover{
    transform: scale(1.02);
    box-shadow: 0 0 5px 4px rgba(69, 69, 252, 0.3);
}

/* Individual projects dark styles */
.projects.dark .project-item{
    background-color: rgb(32, 33, 49);
}

/* Project thumbnail */
.project-item img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* Container for project info and disclaimer */
.project-item .info{
    width: 90%;
    margin: auto;
}

/* Project title */
.project-item .info h3{
    font-style: italic;
}

/* Project disclaimer */
.project-item .disclaimer{
    border-radius: 12px;
    border-left: orange 3px solid;
    background-color: rgb(251, 239, 216);
    transition: background-color 0.2s ease-in;
    padding: 1px 12px 1px 12px;
    width: 85%;
    margin: auto;
}
.project-item .disclaimer.dark{
    background-color: rgb(62, 18, 0, 0.75);
}

/* Project buttons container */
.project-item .buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    gap: 50px;
}

/* Individual buttons  */
.project-item .buttons-container a{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

/* Github button */
.project-item .buttons-container .github, .project-item .buttons-container .demo{
    font-weight: bolder;
    background: none;
    border: rgb(0, 137, 0) 2px solid;
    color: rgb(0, 137, 0);
    transition: 
        color 0.2s ease-in,
        background-color 0.2s ease-in;
}
.project-item .buttons-container .github:hover{
    color: white;
    background-color: rgb(0, 137, 0);
}

/* Demo button */
.project-item .buttons-container .demo{
    border: none;
    color: white;
    background: linear-gradient(to right,  #0bd6e1, #6cd76c);
    box-shadow: 0 0 0 0 rgb(0, 160, 43);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.project-item .buttons-container .demo:hover{
    box-shadow: 0 0 2.5px 2.5px rgb(0, 160, 43);
    transform: scale(1.03);
}

/* ----- MEDIA QUERIES ----- */
/* For large tablets/small laptops */
@media (max-width: 1400px) {
    .projects { padding: 30px 120px 0 120px; }

    .projects-grid{ grid-template-columns: repeat(2, 1fr);  }

    .project-item { height: 550px; }

    .project-item img { height: auto; }
}

/* For landscape/small tablets */
@media (max-width: 900px) {
    .projects { padding: 30px 20px 0 20px; }

    .projects-grid{
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    .project-item { height: fit-content; }
}

/* For mobile phones */
@media (max-width: 500px) {
    .projects { padding: 30px 20px 0 20px; }

    .projects-grid{ max-width: 100%; }
}
