/* Main container for projects */
.projects{
    transition: 
        color var(--transition-medium),
        background-color var(--transition-medium);
    margin: auto;
    margin-top: 0;
    padding: 30px 250px 0 250px;
}

/* Dark styles for projects container */
.projects.dark{
    background-color: var(--clr-bg-darker);
}

/* Projects grid styles */
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 30px;
    margin-top: 40px;
}

/* Individual projects */
.project-item{
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-item);
    transition: 
        box-shadow var(--transition-medium),
        background-color var(--transition-medium),
        transform var(--transition-medium);

    cursor: pointer;
    height: 520px;
    border: solid black 1px;
    background-color: white;
    will-change: transform;
}
.project-item:hover{
    transform: scale(1.02);
    box-shadow: 0 0 5px 4px rgba(69, 69, 252, 0.3);
}

/* Individual projects dark styles */
.projects.dark .project-item{
    background-color: rgb(32, 33, 49);
}

/* Project thumbnail */
.project-item img{
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
    width: 100%;
    height: 150px;
}

/* Container for project info and disclaimer */
.project-item .info{
    width: 90%;
    margin: auto;
}

/* Project title */
.project-item .info h3{
    font-style: italic;
}

/* Project disclaimer */
.project-item .disclaimer{
    transition: background-color var(--transition-medium);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-item);
    border-left: orange 3px solid;
    background-color: rgb(251, 239, 216);
    padding: 1px 12px 1px 12px;
    width: 85%;
    margin: auto;
}
.project-item .disclaimer.dark{
    background-color: rgb(62, 18, 0, 0.75);
}

/* Project buttons container */
.project-item .buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    gap: 50px;
}

/* Individual buttons  */
.project-item .buttons-container a{
    border-radius: var(--radius-sm);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;
}

/* Github button */
.project-item .buttons-container .github, .project-item .buttons-container .demo{
    border: var(--clr-accent-green) 2px solid;
    color: var(--clr-accent-green);
    transition: 
        color var(--transition-fast),
        background-color var(--transition-fast);
    font-weight: bolder;
    background: none;
}
.project-item .buttons-container .github:hover{
    background-color: var(--clr-accent-green);
    color: white;
}

/* Demo button */
.project-item .buttons-container .demo{
    background: var(--grad-green-cyan);
    box-shadow: var(--shadow-item);
    border: none;
    color: white;
}
.project-item .buttons-container .demo:hover{
    background: var(--grad-green-cyan-light);
}

/* ----- MEDIA QUERIES ----- */
/* For large tablets/small laptops */
@media (max-width: 1400px) {
    .projects { padding: 30px 120px 0 120px; }
    .projects-grid{ grid-template-columns: repeat(2, 1fr);  }
    .project-item { height: 550px; }
    .project-item img { height: auto; }
}

/* For landscape/small tablets */
@media (max-width: 900px) {
    .projects { padding: 30px 20px 0 20px; }

    .projects-grid{
        grid-template-columns: 1fr;
        max-width: 90%;
    }

    .project-item { height: fit-content; }
}

/* For mobile phones */
@media (max-width: 500px) {
    .projects { padding: 30px 20px 0 20px; }
    .projects-grid{ max-width: 100%; }
}
